body {
  
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  background-color: #FFFFFF;
  
 }
 .base-container {
 /* top: 0;
  left: 1px;*/
  width: 1200px;
  margin: 0 auto;
  /*padding: 0;*/
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.25);
 }
 
a {
text-decoration:none;
}
.picture-mountains {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/sedona.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1200px;
  min-height: 508px;
  z-index: 0;
  position: relative;
}
.picture-mountains .polygon {
  position: absolute;
  background-image: url("../img/polygon.png");
  width:1200px;
  height:57px;
  top: 452px;
  left: 0;
  margin:0 auto;
}
.picture-welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/welcome-to-sedona.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
 position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.about-sedona {
  width: 1200px;
  padding: 50px 0;
  text-align: center;
}
.small-city {
  font-size: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  margin-top: 11px;
  margin-bottom: 27px;
}
.discription {
  display: flex;
  flex-direction: row;
  width:1200px;
  min-height:255px;

}
.discription-item {
    width: 404px;
    height: 255px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #81B3D2;
    color: #FFFFFF;
}
.discription-item h2 {
  text-align: center;
    font-weight: bold;
    line-height: 26px;
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}
.discription p {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.discription-picture {
      width: 800px;
    min-height: 256px;
    vertical-align: bottom;
    background-image: url("../img/town.jpg");
 }
 .discription-second-pic {
  background-image: url(../img/mount.png);
  width: 800px;
  vertical-align: bottom;
 }
 .advantages-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 332px;
}
.advantages-item {
  width: 400px;
  min-height: 332px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.advantages-item h2{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px; 
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  margin-top: 28px;
}
.advantages-item p{
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.advantages-picture {
  align-self: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.advantages-first-pic{
background-image: url(../img/home-icon.png);
background-repeat: no-repeat;
width: 75px;
height: 72px;
}
.advantages-second-pic{
  background-image: url(../img/burger-icon.png);
  background-repeat: no-repeat;
    width: 74px;
    height: 70px;
}
.advantages-third-pic{
  background-image: url(../img/souvenir-icon.png);
  background-repeat: no-repeat;
    width: 64px;
    height: 76px;
}
.sedona-cool {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 0px;
 }
 .interest-side {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px; 
  min-height: 290px;
 }

.interest-side b {
  align-self: center;
  font-size: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  margin-top: 58px;
 }
 .interest-side p {
  text-align: center;
  font-size: 14px;	
  line-height: 24px;
  color: #000000;
  margin-bottom: 48px;
 }
  .search-hotels {
  margin-left: 317px;
  width: 568px;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
 	color: #ffffff;
 	font-size: 21px;
 	font-weight: bold;
 	line-height: 26px;
  text-decoration: none;
 	text-transform: uppercase;
 	background-color: #766357;
 }
 .search-hotels:hover,
 .seacrh-hotels:focus {
  background-color: #604E43;
 }
 .search-hotels:active {
  background-color: #503E33;
  color: #928A85;
 }
 .map {
  width:1200px;
  min-height: 470px;
  justify-content: space-between;
  position: relative;
  margin-bottom: 0;
}
.map-frame iframe{
width: 1200px;
height: 470px;
z-index: 5;
margin:0;
border-style: none;

}
 .main-footer {
 display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 120px;
  padding: 37px 0;
  background: #fefefe;
  margin-left: 0;
}
.footer-inner {
  width: 1200px;
  height: 49px;
  align-items: center;
}

 
.footer-creator-info .creator {
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  margin-left: 2px;
  fill:#231f20;
}
.footer-creator-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 140px;
  min-width: 205px;
 }
 .footer-creator-info a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
 }
.footer-creator-info span {
  margin-right: 3px;
  font-weight: normal;
  }

  .creator:hover{
   fill: #81B3D2;
  } 

 .searching-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 50%;
  box-sizing: border-box;
   margin-left: -284px;
  padding: 55px;
  width: 568px;
  height: 395px;
  background: #ffffff;
  font-weight: bold;
  line-height: 26px;
  }
  .searching-form .entering {
  padding-top: 5px;
  margin-bottom: 10px;
  }
  .searching-form .departure {
    padding-top: 5px;
  margin-bottom: 10px;
  }

  .enter-time{
   position: absolute;
    top: 60px;
    right: 70px;
  }
  .departure-time{
   position: absolute;
    top: 128px;
    right: 70px;
  }
  .searching-form input[name="entry-date"] {
  padding-left: 15px;
  margin-left: 15px;
  border: none;
  background-color: #F2F2F2;
  text-transform: uppercase;
  font-weight: bold;
  width: 331px;
  min-height: 35px;
  cursor: pointer;
  }
  .searching-form input[name="departure-date"] {
  padding-left: 15px;
  margin-left: 15px;
  border: none;
  background-color: #F2F2F2;
  text-transform: uppercase;
  font-weight: bold;
  width: 331px;
  min-height: 35px;
  cursor: pointer;
  }
  .persons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    min-width: 500px;
    margin-bottom: 50px;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
}
.adult-side {
  display: flex;
  margin-left: 75px;
}

.children-side {
  display: flex;
  margin-left: 18px;
}
 .adult-side button[name="adult-minus"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 40px;
  width:40px;
  height: 37px;
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
 }
 
 .adult-side  button[name="adult-plus"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 52px;
  width:40px;
  min-height: 37px;
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
 }
 .children {
  position: relative;
  left:20px;
 }
  .children-side button[name="child-minus"] {
    display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 40px;
  width:40px;
  min-height: 37px;
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
 }
 .children-side [name="child-plus"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 52px;
  width:40px;
  min-height: 37px;
  border: none;
  background-color: #f2f2f2;
  color: #a9a9a9;
 }
 .persons input {
  display: inline-block;
  width:37px;
  min-height: 35px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  cursor: pointer;
 }
 
 
 .adult-lbl {
  position: absolute;
  left: 60px;
  font-size: 14px;
  padding-top: 5px;
  width: 72px;
  height: 26px;
 }
 .child-lbl {
  position: absolute;
  left: -10px;
  font-size: 14px;
  padding-top: 5px;
  width: 72px;
  height: 26px;
 }
 
.calendar{
  margin-bottom:30px;
}
.calendar input[name="entry-date"] {
fill:red;
}
.calendar input[name="entry-date"]:hover {
fill: #EBEBEB;
}
.calendar input[name="entry-date"]:focus {
  fill: #FFFFFF;
   border: 1px solid #EBEBEB;
}
.calendar input[name="departure-date"]:hover {
background-color: #EBEBEB;
}
.calendar input[name="departure-date"]:focus {
  background-color: #FFFFFF;
   border: 1px solid #EBEBEB;
}
 .searching-form > .btn-find {
  width: 460px;
  min-height: 58px;
  font-size: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 26px;
  background-color: #81B3D2;
  text-transform: uppercase;
  color: #ffffff;
  border: medium none;
 }
 
 .btn-find:hover,
 .btn-find:focus {
   background-color: #669EC0;
   color: #ffffff;
 }
 .btn-find:active {
  background-color: #5496bd;
  color: #94B9D2;
 }
 
 .container {
  min-height: 1590px;
  margin-left: -69px;
width: 1200px;
margin: 0 auto;
}
  .selection-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 1200px;
    height: 215px;
    box-sizing: border-box;
    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
  }
 .container-inner {
  display: flex;
  flex-direction: column;
  background-image: url("../img/found-layer.png");
  width: auto;
  min-height: 545px;
  margin-top: 0;
  }
  .results-frm {
 position: absolute;
 flex-direction: column;
 top: 360px;
 width: 1200px;
 min-height: 455px;

 }
 .result-category {
  display: flex;

  padding: 25px 72px;
  width: 1200px;
  min-height: 151px;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
 }
 .result-image {
  width: 135px;
  height: 90px;
  border-style: none;
  margin-right: 30px;
 }
 /*Блок found-range*/

  .found-range {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 270px;
    left: 75px;
    width: 1200px;
    height: 90px;
    margin:0 auto;
  }
 .found{
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
    margin-right: 30px;
    margin-left: 70px;
}
.found-range ul{
    list-style: none;
 }
 .sorting{
    font-size: 12px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    line-height: 1.5;
    text-decoration: none;
    border: none;
    margin-right: 40px;
 }
 .sorting-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .sorting-items li {
   margin-right: 30px;
 }

 .sorting-price {
  font-size: 12px;
  font-family: "PT Sans", "Arial", sans-serif;;
  color: #81b3d2;
  text-transform: uppercase;
  line-height: 1.5;
 }
.sorting-type {
  font-size: 12px;
  font-family: "PT Sans", "Arial", sans-serif;;
  color: #dadada;
  text-transform: uppercase;
  line-height: 1.5;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}
.sorting-type:hover,
.sorting-type:focus {
  color: #81b3d2;
}
.sorting-type:active {
  color: #000000;
  text-decoration: none;
  border: none;
}
.sorting-rating {
 font-size: 12px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #dadada;
  text-transform: uppercase;
  line-height: 1.5;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2; 
}
.sorting-rating:hover,
.sorting-rating:focus {
  color: #81b3d2;
}
.sorting-rating:active {
  color: #000000;
  text-decoration: none;
  border: none;
}
.result-info {
 display: flex;
align-content: flex-start;
width: 781px;
min-height: 100px;
flex-wrap: wrap;
}
.result-info-header a {
  font-size: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  text-decoration:none;
}
.result-info-header {
  min-width: 750px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 26px;
  font-size: 21px;
  margin-left: 0;
  margin-right: 0;
}
.result-info-header a:hover,
.result-info-header a:focus {
  color: #81B3D2;
}
.result-info-header a:active {
color: #b2b2b2;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 142px;
  min-height: 64px;
  margin-right: 520px;

}
.more-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 110px;
  min-height: 64px;
  margin-top: 0;
  margin-right: 5px;
}

.result-info b {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 21px;
   }
  .more-info-hotel {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: 16px;
  padding: 3px 10px;
  
}
.more-info-hotel:hover,
.more-info-hotel:focus {
  background-color: #669EC0;
  }
.more-info-hotel:active{
  background-color: #5496bd;
  color: #88b6d1;
  }
  
.booking-now {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  background-color: #766357;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: 16px;
  padding: 3px 17px;
}
.booking-now:active {
  background-color: #503e33;
  color: #857871;
}
.booking-now:hover,
.booking-now:focus {
  background-color: #604e43;
}
.rating-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-width: 110px;
  min-height: 97px;
}
.rating-info {
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}
.rating-stars {
  margin-bottom: 45px;
  align-self: flex-end;
}
.footer-left-sign a {
font-size: 21px;
font-weight: bold;
text-decoration: none;
color: #000000;
margin-left: 132px;

}
.footer-social {
display: flex;
padding-left: 70px;
}
.icon {
  fill: #fff;
  }
.icon:active{
  fill: #88B6D1;
  }
 
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 50px;
  min-height: 50px;
  background-color: #81b3d2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
 }
/* шапка сайта*/
.main-header {
  display: flex;
bottom: 1px;
width: 1200px;
height: 56px;
margin: 0 auto;
}
.main-navigation {
 
  margin-left: 0;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
  width: 1200px;
}
.main-header .main-list {
 /display: flex;
  flex-direction: row;*/
    margin: 0;
   
    line-height: 26px;
}
.main-list a:hover,
.main-list a:focus {
  color: #81B3D2;
}
.main-list a:active {
color: #b2b2b2;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  min-height: 71px;
  z-index: 2;
  }
  .site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  list-style: none;
  padding: 0;
}
.site-navigation .main-list-link {
  font-size: 13px;
  color: #000000;
}

.site-navigation .main-list {
  box-sizing: border-box;
    width: 240px;
    list-style: none;
}
.site-navigation .main-list:nth-child(1) {
    padding-left: 72px;
} 
.site-navigation .main-list:nth-child(2) {
 margin-left: -170px;
  text-align: center;
}
.site-navigation .main-list:nth-child(3) {
      margin-right: -280px;
  text-align: center;
}
.site-navigation .main-list:nth-child(4) {
  text-align: right;
  margin-right: 60px;
}
.picture-welcome {
  margin-top: 76px;
  margin-bottom: 23px;
}
/*iframe {
  position: absolute;
  left: 0;
  width:1200px;
  min-height:475px;
  border:none;
  margin: 0;
  z-index: 10;
}*/


.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*selection block*/

.checking-box {
  display: flex;
}

.infrastructure-field {

 width: 250px;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 0;
  border:none;
  color: white;
  box-sizing: border-box;
}
.infrastructure-item {
    line-height: 21px;
    font-size: 14px;
    font-weight: normal;
  list-style: none;
  padding-left: 10px;
  margin-bottom: 30px;
}
 .home-item {
  line-height: 21px;
    font-size: 14px;
    font-weight: normal;
  list-style: none;
  padding-left: 10px;
  margin-bottom: 30px;
 }
.home-field {
   width: 250px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  border:none;
  color: white;
  box-sizing: border-box;
}
.home-field legend {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 0;
  margin-bottom: 6px;
}
.infrastructure-field legend {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 18px;
  padding-left: 0;
  margin-bottom: 6px;
}

.filter-option {
  padding-bottom: 20px;
}
.filter-option:first-child {
  padding: 0;
}

.filter-input-checkbox {
  margin-right: 15px;
  display: none;
}
.infrastructure-item label {
 
}
.infrastructure-item label::before {
  content:'';
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border:1px solid #ffffff;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
}
.home-item label::before {
   content:'';
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border:1px solid #ffffff;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
}
.filter-input-checkbox:checked + label::before {
  background-color: transparent;
content:"\2713";
text-align: center;
border:1px solid #ffffff;
border-radius: 5px;
background-size: 100%;
}
.cost-item {
  position: relative;
    box-sizing: border-box;
    top: 27px;
    left: 45px;
    width: 528px;
    padding-left: 200px;
}
.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
/*.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 70px;
  top: 130px;
  
  width: 16px;
  height: 16px;

  border: 2px solid #ffffff;
}
.filter-input-checkbox:checked + label::after {
  content: "V";

  position: absolute;
  top: 130px;
  left: 70px;
  /*border:2px solid #ffffff;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
}*/